
/* Navigation */
.nav {
  margin: 0;
  padding-inline-start: 0;
}

.navitem{
  list-style: none;
  text-align: left;
  display: inline-block;
}

.navitem a {
  display: inline-block;
  border-radius: 2px;
  margin: 0 var(--space-1);
  padding: calc(var(--space-1)/2) var(--space-1);
}

.navitem .active {
  background: var(--color-white);
}
